body {
    font-family: 'Space Mono', monospace;
    background-color: #121212;
    color: #E0E0E0;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    margin-bottom: 100px;
    min-height: 100vh;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 155%;
    background-image: url('assets/background.jpg'); 
    background-size: cover;
    background-position: center;
    opacity: 0.5; 
    z-index: -1;
}

.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    border: 3px solid #70F15E;
    background-color: #1a1a1a;
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.1);
    border-radius: 8px;
    opacity: 0.8;
}

/* Cursor animation */
.typing-cursor {
    display: inline-block;
    margin-left: 5px; /* Space between the text and cursor */
    background-color: #70F15E; /* Cursor color */
    width: 8px; /* Cursor width */
    height: 0.8em; /* Cursor height */
    animation: blink-animation 1s steps(2) infinite;
}

@keyframes blink-animation {
    0%, 49% { opacity: 1; }
    50%, 100% { opacity: 0; }
}


.header h1 {
    text-align: center;
    color: #70F15E;
    margin-bottom: 1.5rem;
}

.search-area {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

#locationInput, #search-button, #geolocation-button {
    font-family: 'Space Mono', monospace;
    padding: 0.5rem 1rem;
    border: 3px solid #9e9e9e;
    background-color: #262626;
    color: #E0E0E0;
    border-radius: 4px;
    font-size: 1rem;
}

#locationInput {
    flex: 1;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 1rem;
}

#search-button:hover, #geolocation-button:hover {
    background-color: #70F15E;
    border-color: #70F15E;
    color: #9B30FF;
    cursor: pointer;
}

#results, #error-container {
    padding: 1rem;
    background-color: #262626;
    border: 3px solid #9e9e9e;
    border-radius: 4px;
    color: #E0E0E0;
    margin-bottom: 0.5rem;
}

.error {
    color: #ff6b6b;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #121212;
    color: #E0E0E0;
    text-align: center;
    padding: 0.8rem 0;
    border-top: 2px solid #70F15E;
    font-size: 0.9rem;
    overflow: auto;
}

footer a {
    color: #70F15E;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.loading-container {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.loading-spinner {
    position: relative;
    width: 80px;
    height: 80px;
}

.loading-spinner:before, .loading-spinner:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    border: 5px solid transparent;
    animation: spin 2s linear infinite;
}

.loading-spinner:before {
    border-top: 5px solid #9B30FF;
    animation-duration: 1.5s; 
}

.loading-spinner:after {
    border-bottom: 5px solid #70F15E; 
    animation-duration: 2.5s; 
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@media (max-width: 600px) {
    .search-area {
        flex-direction: column;
    }

    #locationInput, #search-button, #geolocation-button {
        width: 100%;
        margin: 0.5rem 0;
    }
}
